%h1 Welcome#index

%ul
  %li= link_to '1_basic', sample_path('1_basic')
  %li= link_to '2_controller', sample_path('2_controller')
  %li= link_to '3_modules', sample_path('3_modules')
  %li= link_to '4_directives', sample_path('4_directives')
  %li= link_to '6_controller_to_dom', sample_path('6_controller_to_dom')
